:root {
  /* Tamanhos de texto em em */
  --font-size-sm: 0.75em;
  --font-size-md: 1em;
  --font-size-lg: 1.25em;
  --font-size-xl: 1.5em;
  --font-size-xxl: 2em;

  /* Alturas de linha */
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.6;
  --line-height-xl: 1.8;
  --line-height-xxl: 2;
}
