:root {
  /* Tamanhos de texto em rem */
  --font-size-xsm: 0.7rem;
  --font-size-sm: 0.85rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  /* Alturas de linha */
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.6;
  --line-height-xl: 1.8;
  --line-height-xxl: 2;
}
